
body, html {
	font-size: 20px;
	margin: 0;
	padding: 0;	
	background-color: #f3f3f3;
	position: relative;
}

header {
	width: 360px;
	height: 62px;
	margin: 0 auto;
	padding: 50 0;

}

.logo {
	width: 175px;
	height: 62px;
	float: left;
}

.title {
	width: 165px;
	height: 62px;
	margin: 0 auto;
	text-align: left;
	margin-left: 20px;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
	color: rgba(100, 100, 100, 0.5);
	float: right;

}

.paper {
	position: relative;
	padding: 60 60 0 60;
	background-color: white;
	width: 625px;
	height: 1200px;
	margin: 0 auto;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(194,194,194,1);
	-moz-box-shadow: 1px 1px 1px 1px rgba(194,194,194,1);
	box-shadow: 1px 1px 1px 1px rgba(194,194,194,1);
}

/*				*/
/* PICTYPE CHAR */
/*				*/

.pictype-area {
	width: 100%;
	height: 100%;
	margin: 0;
}

.pictype-char {
	display: flex;
	justify-content: center;
	position: relative;
	width: 60px; 
	height: 60px; 
	opacity: 1;
	float: left;
	box-sizing: border-box;
}

.pictype-char img {
	width: 100px;
}

.pictype-char:hover {
	cursor: pointer;
}


.cursor {
	margin: 0;
	padding: 0;
	width: 2px;
	height: 45px;
	border-left: 1px solid black;
	float: left;
	padding-top: 12px;
}


/*					 */
/* TEXT AREA WRAPPER */
/*					 */

input, textarea, select, a { 
	outline: none; 
}

textarea {
	background: rgba(255, 255, 255, 0.4);
	position: absolute;
	top: 50;
	width: 87%;
	height: 100%;
	font-size: 20px;
	color: white;
	border: none; 
	resize: none;
	text-transform: uppercase;
	font-size: 45px;
	background-color: orange;
	opacity: 0;
	z-index: 100;
	letter-spacing: 40px;
	pointer-events: none;

}


/*					*/
/* ANIMATE CURSOR   */
/*					*/

.cursor {
    -webkit-animation: blink 1s infinite ; /* Chrome, Safari, Opera */
    animation: blink 1s infinite ; /* Standard syntax */
}

@keyframes blink {
    from 	{opacity: 0;}
    to 		{opacity: 1;}
}

@-webkit-keyframes blink { /* Safari and Chrome */ 
    from 	{opacity: 0;}
    to 		{opacity: 1;}
}



/*					*/
/* ALPHABET LETTERS */
/*					*/

.pictype-char.a {
}

.pictype-char.b {
}

.pictype-char.c {
}

.pictype-char.d {
	
}

.pictype-char.e {
}

.pictype-char.f {
}

.pictype-char.g {
}

.pictype-char.h {
}

.pictype-char.i {
	width: 38.4px;
}

.pictype-char.j {
	
}
.pictype-char.k {
	
}
.pictype-char.l {
	
}
.pictype-char.m {
	
}
.pictype-char.n {
	
}
.pictype-char.o {
	
}
.pictype-char.p {
	
}
.pictype-char.q {
	
}
.pictype-char.r {
	
}
.pictype-char.s {
}

.pictype-char.t {
	
}
.pictype-char.u {
	
}
.pictype-char.v {
	
}
.pictype-char.w {
	
}
.pictype-char.x {
	
}
.pictype-char.y {
}

.pictype-char.z {
}



