body, html {
	font-size: 20px !
	portant;
}

h1.title {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
	color: rgba(100, 100, 100, 0.5);
}


/*				*/
/* PICTYPE CHAR */
/*				*/

.pictype-char {
	border: none;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 70px 70px;
	left: 0;
	display: block;
	top: -80px;
	width: 60px; 
	height: 60px; 
	opacity: 1;
	float: left;
	/*background: yellow;*/
	/*-webkit-animation: textanim cubic-bezier(0, 1.8, 1, 1.8) .2s forwards;*/
    /*animation: textanim cubic-bezier(0, 1.8, 1, 1.8) .2s forwards;*/
	box-sizing: border-box;
}

.pictype-char img {
	width: 100%;
	height: 100%;
}


/*					*/
/* ALPHABET LETTERS */
/*					*/

.pictype-char.a {
}
.pictype-char.b {
}
.pictype-char.c {
}
.pictype-char.d {
	
}
.pictype-char.e {
}
.pictype-char.f {
}
.pictype-char.g {
}
.pictype-char.h {
}
.pictype-char.i {
}
.pictype-char.j {
	
}
.pictype-char.k {
	
}
.pictype-char.l {
	
}
.pictype-char.m {
	
}
.pictype-char.n {
	
}
.pictype-char.o {
	
}
.pictype-char.p {
	
}
.pictype-char.q {
	
}
.pictype-char.r {
	
}
.pictype-char.s {
}
.pictype-char.t {
	
}
.pictype-char.u {
	
}
.pictype-char.v {
	
}
.pictype-char.w {
	
}
.pictype-char.x {
	
}
.pictype-char.y {
}
.pictype-char.z {
}

textarea {
	width: 100%;
	height: 50%;
	font-size: 20px;
	color: red;
}

/*					 */
/* TEXT AREA WRAPPER */
/*					 */

.textarea-wrapper {
	margin-top: 150px;
	width: 100%;
}

.textarea {
	color: red !important;
}



/*				 */
/*  CSS ANIMATE  */
/*				 */

/*@-webkit-keyframes textanim {
    from {top: 0; width: 0; height: 0; opacity: 0;}
    to {top: -80px; width: 60px; height: 60px; opacity: 1;}
}

 Standard syntax 
@keyframes textanim {
    from {top: 0; width: 0; height: 0; opacity: 0;}
    to {top: -80px; width: 60px; height: 60px; opacity: 1;}
}*/