.wrapper {
	background-color: #f3f3f3;
}

.title {
	margin: 0 auto;
	width: 200px;
	height: 60px;
	text-align: center;
}

.paper {
	padding: 0 50 0 50;
	background-color: white;
	width: 645px;
	height: 1200px;
	margin: 0 auto;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(194,194,194,1);
	-moz-box-shadow: 1px 1px 1px 1px rgba(194,194,194,1);
	box-shadow: 1px 1px 1px 1px rgba(194,194,194,1);
	

}


input, textarea, select, a { 
	outline: none; 
}

textarea { 
	border: none; 
	resize: none;
	text-transform: uppercase;
	font-size: 40px;
}